@{
    ViewData["Title"] = "My Projects";
}

@model Bug_Tracker_V1._0.ViewModels.ProjectViewModels.IndexViewModel
@using Bug_Tracker_V1._0.BuisinessLogic.Models.Enums
@using Bug_Tracker_V1._0.Models.Enums

@{ var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}


<head>
    <link rel="stylesheet" href="~/css/Projects.css">
</head>
<div class="row">


    <div class="col-md-12">

        <div class="row text-center">
                <h2>
                    <b>Projects</b>
                    <a id="project-create-btn" class="btn bg-purple rounded-0" asp-area="" asp-controller="Project" asp-action="Create"><strong>+ New Project</strong></a>
                </h2>
        </div>
                    <br />

        <div class="row justify-content-center project-card-cont">

            @if (Model.User.UserProjects == null || Model.User.UserProjects.Count() == 0)
            {
                <div class="alert alert-light mt-5 p-5">
                    <h6>You currently do not have any active projects. Create a new project by clicking on the 'New Project' button at the top page to get started!</h6>
                </div>      }

            @for (int i = 0; i < Model.User.UserProjects.Count(); i++)
            {

                if (i > 0 && i % 3 == 0)
                {
                @:</div><div class="row justify-content-center project-card-cont">
                }
                            
                               
                            <div class="card rounded-0" style="width: 18rem;">
                                <h4 class="card-title card-font" style="margin: auto;"><b>@Model.User.UserProjects.ToList()[i].Project.ProjectName</b></h4>
                                <hr />

                                @if (Model.User.UserProjects.ToList()[i].Project.Tickets.Count == 1 && Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize == 1)
                                {
                                    <div class="card-body">
                                        <p class="card-subtitle">
                                            <span class="badge rounded-0 bg-danger"> @Model.User.UserProjects.ToList()[i].ProjectRole</span>
                                            <span class="badge rounded-0 bg-primary"> @Model.User.UserProjects.ToList()[i].Project.Tickets.Count Ticket</span>
                                            <span class="badge rounded-0 bg-success"> @Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize Contributor</span>
                                        </p>
                                        <br />
                                        <p class="card-text m-auto">@Model.User.UserProjects.ToList()[i].Project.ProjectDescription</p>
                                        <hr />
                                        <div class="btn-group center">
                                            <a asp-controller="Ticket"
                                               asp-action="Index"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               class="btn btn-sm bg-test shadow-sm rounded-0 project-detail-link m-1">
                                                Tickets
                                            </a>
                                            <a class="btn btn-sm bg-test rounded-0 project-details-btnc m-1"
                                               asp-controller="Project"
                                               asp-action="Details"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Details</a>

                                            @if (Model.User.UserProjects.ToList()[i].ProjectRole == Role.Owner)
                                            {
                                                <a class="btn btn-sm bg-test rounded-0 project-edit-btn m-1"
                                                           asp-controller="Project"
                                                           asp-action="Edit"
                                                           asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Edit</a>
                                            }
                            </div>
                                    </div>
                                }
                                else if (Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize == 1)
                                {
                                    <div class="card-body">
                                        <div class="card-subtitle m-auto">
                                            <span class="badge rounded-0 bg-danger"> @Model.User.UserProjects.ToList()[i].ProjectRole</span>
                                            <span class="badge rounded-0 bg-primary"> @Model.User.UserProjects.ToList()[i].Project.Tickets.Count Tickets</span>
                                            <span class="badge rounded-0 bg-success"> @Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize Contributor</span>
                                        </div>
                                        <br />
                                        <p class="card-text m-auto">@Model.User.UserProjects.ToList()[i].Project.ProjectDescription</p>
                                        <hr />
                                        <div class="btn-group center">
                                            <a asp-controller="Ticket"
                                               asp-action="Index"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               class="btn btn-sm bg-test shadow-sm rounded-0 project-detail-link m-1">
                                                Tickets
                                            </a>
                                            <a class="btn btn-sm bg-test rounded-0 project-details-btnc m-1"
                                               asp-controller="Project"
                                               asp-action="Details"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Details</a>
                                               @if (Model.User.UserProjects.ToList()[i].ProjectRole == Role.Owner)
                                               {
                                                <a class="btn btn-sm bg-test rounded-0 project-edit-btn m-1"
                                                   asp-controller="Project"
                                                   asp-action="Edit"
                                                   asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Edit</a>
                                               }
                                        </div>
                                    </div>
                                }
                                else if ((Model.User.UserProjects.ToList()[i].Project.Tickets.Count == 1))
                                {
                                    <div class="card-body">
                                        <p class="card-subtitle">
                                            <span class="badge rounded-0 bg-danger"> @Model.User.UserProjects.ToList()[i].ProjectRole</span>
                                            <span class="badge rounded-0 bg-primary"> @Model.User.UserProjects.ToList()[i].Project.Tickets.Count Ticket</span>
                                            <span class="badge rounded-0 bg-success"> @Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize Contributors</span>
                                        </p>
                                        <br />
                                        <p class="card-text m-auto">@Model.User.UserProjects.ToList()[i].Project.ProjectDescription</p>
                                        <hr />
                                        <div class="btn-group center">
                                            <a asp-controller="Ticket"
                                               asp-action="Index"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               class="btn btn-sm bg-test shadow-sm rounded-0 project-detail-link m-1">
                                                Tickets
                                            </a>
                                            <a class="btn btn-sm bg-test rounded-0 project-details-btnc m-1"
                                               asp-controller="Project"
                                               asp-action="Details"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Details</a>
                                            @if (Model.User.UserProjects.ToList()[i].ProjectRole == Role.Owner)
                                            {
                                                <a class="btn btn-sm bg-test rounded-0 project-edit-btn m-1"
                                                           asp-controller="Project"
                                                           asp-action="Edit"
                                                           asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Edit</a>
                                            }
                            </div>
                                    </div>
                                }
                                else
                                {

                                    <div class="card-body">
                                        <p class="card-subtitle">
                                            <span class="badge rounded-0 bg-danger"> @Model.User.UserProjects.ToList()[i].ProjectRole</span>
                                            <span class="badge rounded-0 bg-primary"> @Model.User.UserProjects.ToList()[i].Project.Tickets.Count Tickets</span>
                                            <span class="badge rounded-0 bg-success"> @Model.User.UserProjects.ToList()[i].Project.ProjectTeamSize Contributors</span>
                                        </p>
                                        <br />
                                        <p class="card-text m-auto">@Model.User.UserProjects.ToList()[i].Project.ProjectDescription</p>
                                        <hr />
                                        <div class="btn-group center">
                                            <a asp-controller="Ticket"
                                               asp-action="Index"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               id="@Model.User.UserProjects.ToList()[i].Project.ProjectId"
                                               class="btn btn-sm bg-test shadow-sm rounded-0 project-detail-link m-1">
                                                Tickets
                                            </a>
                                            <a class="btn btn-sm bg-test rounded-0 project-details-btnc m-1"
                                               asp-controller="Project"
                                               asp-action="Details"
                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Details</a>
                                            @if (Model.User.UserProjects.ToList()[i].ProjectRole == Role.Owner)
                                                {
                                                    <a class="btn btn-sm bg-test rounded-0 project-edit-btn m-1"
                                                               asp-controller="Project"
                                                               asp-action="Edit"
                                                               asp-route-id="@Model.User.UserProjects.ToList()[i].Project.ProjectId">Edit</a>
                                                }
                            </div>
                                    </div>
                                }
                            </div>


            }

                                </div>
                            </div>
</div>

<div class="modal fade" id="project-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-center">
                <h5 class="modal-title text-center text-white" id="exampleModalCenterTitle">Create a New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Project" asp-action="Create" method="post">

                    <div class="form-group">
                        <label asp-for="NewProjectName">Name:</label>
                        <input asp-for="NewProjectName" class="form-control" />
                        <span asp-validation-for="NewProjectName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewProjectDescription">Description:</label>
                        @Html.TextAreaFor(x => x.NewProjectDescription, 4, 4, new { @class = "form-control" })
                        <span asp-validation-for="NewProjectDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewProjectRepoUrl">Repository Link:</label>
                        @Html.TextBoxFor(x => x.NewProjectRepoUrl, new { @class = "form-control" })
                        <span asp-validation-for="NewProjectRepoUrl" class="text-danger"></span>
                    </div>

                    <button class="btn btn-outline-secondary">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save" />

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="project-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-center">
                <h5 class="modal-title text-center text-white" id="exampleModalCenterTitle">Edit <span id="project-read-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="project-edit-form" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" id="project-edit-name" />
                        <span asp-validation-for="NewProjectName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="project-edit-description" class="form-control" name="description" cols="4" rows="4"></textarea>
                        <span asp-validation-for="NewProjectDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="link">Repository Link:</label>
                        <input id="project-edit-link" class="form-control" type="url" name="link" />
                        <span asp-validation-for="NewProjectRepoUrl" class="text-danger"></span>
                    </div>

                    <input type="hidden" value="" name="projectId" />

                    <button class="btn btn-outline-secondary">Cancel</button>
                    <input id="edit-form-btn" type="submit" class="btn btn-primary" value="Save" />
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="project-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-center">
                <h5 class="modal-title text-white pl-4" id="exampleModalCenterTitle">Details for <span id="project-detail-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <p><span class="text-muted">Description: </span><span class="project-description"></span></p>
                <p><span class="text-muted">Project Owner: </span><span class="project-owner"></span></p>
                <p><span class="text-muted">GitHub Repo: </span><span class="project-repo-uri"></span></p>
                <p><span class="text-muted">Contributors: </span><span class="project-collaborators"></span></p>
                <p><span class="text-muted">Tickets: </span><span class="project-tickets"></span></p>
                <p><span class="text-muted">Start Date: </span><span class="project-start-date"></span></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}